
body {
  background-color: #d0e4fe;
  text-align: center;
}

h1 {
  font-family: 'Lobster', cursive;
  color: orange;
}

p {
  font-family: "Courier New";
  font-size: 20px;
}

#doge-image img {
  height: 140px;
  margin-top: 20px;
}

#stream {
  color: blue;
  text-align: left;
}

#stream .title1{
  color: rgb(255, 0, 157);
}

